
$padding: 10px;
$backgroundColor: transparent;
$formBackgroundColor: red;
$noteBackgroundColor: orange;
$gridColumnsMobile: 39% 60%;
$gridColumnsTablet: 29% 70%;
$gap: 1%;
$fontStandar: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 980px) {
    .container {
        max-width: 1220px;
        margin: 0 auto;
        background-color: $backgroundColor;
    }
}


input::placeholder,
textarea::placeholder {
    font-family: $fontStandar;
    font-size: medium;
}

.flex-1 {
    flex: 1 1 0%;
}

.pointer {
    cursor: pointer;
}

input,
textarea,
button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 4px;
    font-family: $fontStandar;
    font-size: medium;
}

.wrap {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 20px;
    height: 100%;
    margin: 0 auto;
    font-family: $fontStandar;
    background-color: $backgroundColor;

    @media only screen and (min-width: 675px) {
        grid-template-columns: $gridColumnsMobile;
        gap: 0;
        height: 100vh;
        padding-top: 5px;
        .wrap {
            border: 2px solid black;
            padding: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }

    @media only screen and (min-width: 900px) {
        grid-template-columns: $gridColumnsTablet;
    }

    @media only screen and (min-width: 1025px) {
        grid-template-columns: $gridColumnsTablet;
        padding-top: 5px;
    }
}
