.form-title {
    margin: 0 10px 0 10px;
    font-size: 2em;
}

.error {
    margin-top: 0;
    color: black;
    border-radius: 3px;
    padding: 2px;
    margin-left: 5px;
}

.wrap-error {
    display: flex;
}

.form-component {
    height: 100%;
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;

    .form-note {
        margin: 2px 0 0 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: none;
        border-right: none;
        border-radius: 5px;

        button {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 430px) {
    .form-component {
        .wrap {
            display: flex;
        }

        .form-title {
            padding: 5%;
        }
    }
}

@media only screen and (min-width: 675px) {
    .form-component {
        .wrap {
            display: block;
        }

        .form-title {
            padding: 0;
        }

        .form-note {
            margin: 0px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            border-left: none;
            border-right: none;
        }
    }
}

@media only screen and (min-width: 900px) {
    .form-component {
        margin: 0 10px 0 10px;

        .form-note {
            padding: 0px;
            margin: 5px;
        }
    }

}

@media only screen and (min-width: 1025px) {
    .form-component {
        .form-note {
            margin: 10px;
        }
    }
}