@font-face {
    font-family: "Spoon";
    src: url("/fonts/Spoon-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

:root {
    --color: black;
    --background-color: #ffff;
}

[data-theme='dark'] {
    --color: #ffff;
    --background-color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans";
    box-sizing: border-box;
    transition: background 0.3s ease-in;
}

body {
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

.active {
    color: #1DA1F2;
}

.icon {
    height: 27px;
    width: 27px;
    transition: color 0.3s ease;
}

.wrap-button-create {
    display: block;
}

.custom-button {
    position: fixed;
    bottom: 1.5rem;
    right: 2.75rem;
    width: 50px;
    height: 50px;
    transform: translateY(-72px);
    background-color: #1DA1F2;
    color: white;
    font-size: 1.125rem; 
    font-weight: 700; 
    border-radius: 9999px; 
    padding: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.button-label {
    display: none;
}

.wrap-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-message {
    margin-bottom: .50rem;
    margin-left: .25rem;
    color: red;
}


.not-found {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.wrap-not-found-page {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
}

main {
    display: inline;
}

.wrap-loading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loading {
    width: 50px;
    height: 50px;
    border: 6px solid #fff;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

aside {
    display: none;
    width: 100%;
    padding: 0px 10px 10px 10px;
    height: 100%;
}

.wrap-logo, .wrap-sidebar {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 78px;
    font-family: "Spoon";
    font-size: 43px;
    align-items: center;
    color: var(--font-color);
    user-select: none;
}

aside h2, .section-search h2, .section-list-note h2 {
    text-align: center;
    padding-bottom: 8px;
}

.wrap-input {
    display: flex;
    flex-direction: column;
}

.wrap-input input[type='text'], .wrap-input textarea, .wrap-input input[type='search'], button {
    padding-top: .500rem;
    padding-bottom: .500rem;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: .50rem;
    border: 1px solid var(--color);
    border-radius: .5rem;
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 18px;
}

.add-note, .search-button {
    background-color: #1DA1F2;
    color: white;
}

button:disabled {
    background-color: #9ca3af; 
    color: #d1d5db;
    cursor: not-allowed;
    opacity: 0.7;
}

.wrap-section {
    display: inline-block;
    margin-bottom: 55px;
    width: 100%;
}

.section-search {
    margin: 0 auto;

}

.search-form {
    display: flex;
    width: 100%;
    position: fixed;
    width: 100%;
    padding: 10px 10px 0px 10px;
    background-color: var(--background-color);
}

.search-form .wrap-input {
    width: 100%;
}

.search-form button {
    margin-left: 10px;
    width: 70px;
}

.section-list-note h2, .section-list-note h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: start;
    border-bottom: 1px solid var(--color);
}

.list-note {
    padding-top: 125px;
}

.header-note {
    margin-top: 52px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid var(--color);
    margin-bottom: 10px;
    background-color: var(--background-color);
}

.toggle {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.toggle .cursor-pointer {
    margin-left: 15px;
    font-weight: bold;
}

.title-page {
    display: flex;
    align-items: center;
}

.header-note h3 {
    padding: 15px;
}

.list-note h3  {
    width: 100%;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

/* note component */
.note-container {
    background-color: var(--background-color);
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    padding: 20px 20px 14px 20px;
    width: 100%;
    margin-bottom: 10px;
}

.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-header__wrap {
    display: flex;
}

.note-header img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.note-header .user-info {
    display: flex;
    flex-direction: column;
}

.user-info .name {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.wrap-note-content {
    text-decoration: none;
    color: inherit;
}

.user-info .handle {
    color: #657786;
    font-size: 14px;
}

.note-container .note-content {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: justify;
    text-decoration: none;
}

.note-content {
    margin: 12px 0;
}

.note-title {
    display: flex;
    font-size: 23px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 3px;
}

.note-actions {
    display: flex;
    color: var(--color);
}

.justify-beetween {
    justify-content: space-between;
}

.justify-endd {
    justify-content: end;
}

.note-actions span {
    display: flex;
    align-items: center;
}

.note-actions span svg {
    margin-right: 5px;
}

@media (min-width: 600px) {
    aside {
        width: 90%;
        margin: 0 auto;
    }

    .note-container {
        border: 1px solid var(--color);
    }

    .section-search {
        width: 90%;
    }

    .search-form {
        width: calc(90%);
    }

    .section-list-note {
        width: 90%;
        margin: 0 auto;
    }

    .header-note {
        width: 90%;
    }
}

@media (min-width: 767px) {
    main {
        display: flex;
    }

    .wrap-button-create {
        display: none;
    }

    .custom-button {
        position: inherit;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 44px;
        margin-top: 98px;
    }

    .button-icon {
        display: none;
    }

    .button-label {
        display: block;
    }

    aside {
        display: block;
        width: 33%;
        margin: 0;
        height: calc(100vh);
        overflow-y: auto;
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1px solid var(--color);
        position: fixed;
    }
    
    .wrap-section {
        width: 67%;
        height: calc(100vh);
        margin-left: 33%;
        margin-bottom: 30px;
    }

    .section-search {
        width: 100%;
        order: 1;
        margin: 0 auto;
    }

    .search-form {
        position: fixed;
        width: 67%;
        background-color: var(--background-color);
    }

    .search-note {
        padding-top: 60px;
    }

    .section-list-note {
        width: 100%;
        order: 2;
    }
    
    .header-note {
        width: 67%;
        margin-top: -8px;
    }

    .list-note {
        margin-top: 0px;
        padding-top: 62px;
    }

    .note-container {
        border-top: 1px solid var(--color);
        border-bottom: 1px solid var(--color);
        border-left: none;
        border-right: none;
    }
}

@media (min-width: 1024px) {
    aside {
        width: 27%;
    }

    .logo {
        width: 250px;
        font-size: 49px;
    }

    .wrap-section {
        display: flex;
        width: 73%;
        height: 100%;
        margin-left: 27%;
        margin-bottom: 0px;
    }

    .section-search {
        order: 2;
        width: 50%;
    }

    .search-form {
        width: calc(38% - 30px);
        padding: 10px 10px 0px 10px;
    }

    .section-list-note {
        order: 1;
        width: 50%;
        min-height: 100vh;
        border-right: 1px solid var(--color);

    }

    .header-note {
        margin-top: 0px;
        width: 36%;
        margin-left: 2px;
    }
}

@media (min-width: 1320px) {
    
    .container {
        width: 1320px;
    }

    aside {
        width: 26%;
        max-width: 343px;
    }

    .wrap-section {
        width: 74%;
        margin-left: 26%;
    }

    .section-search {
        width: 45%;
    }

    .search-form {
        max-width: 420px;
    }

    .section-list-note {
        order: 1;
        width: 55%;
    }

    .header-note {
        width: 55%;
        max-width: 532px;
    }
}