.leaderboard-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  color: var(--color);
}

.leaderboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 60px;
}

.leaderboard-header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-blue);
}

.crown-left,
.crown-right {
  width: 40px;
  height: 40px;
  background: url("https://img.icons8.com/emoji/48/crown-emoji.png") no-repeat
    center;
  background-size: contain;
  position: absolute;
}

.crown-left {
  left: 20px;
}

.crown-right {
  right: 20px;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .leaderboard-container {
    margin: 70px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: var(--background-gray);
  }
  .leaderboard-header {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .leaderboard-container {
    max-width: 900px;
  }
}

@media (max-width: 640px) {
  .leaderboard-header h1 {
    font-size: 1.5rem;
  }

  .crown-left,
  .crown-right {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  .crown-left {
    left: 10px;
  }

  .crown-right {
    right: 10px;
  }
}
