.tabs {
    background-color: transparent;
}

.tabs input[type="radio"] {
    display: none;
}

.note-height {
    display: none;
}

.tabs input[type="radio"]:checked~.note-height {
    display: block;
}